html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    /* border: 1px solid black; */
    height: 100%;
}

.title .col h3{
    text-align: center;
}

.calculator-container {
    width: 40%;
    /* border: 1px solid black; */
    height: 80%;
    margin: 0 auto;
}
#screen, #pad {
    width: 90%;
    border: 1px solid black;
    margin: 10px auto;
}

#screen{
    height: 100px;
    display: flex;
    justify-content: right;
    align-items:end;
}

#operation-value {
    padding: 25px;
}

#pad {
    height: 350px;
    display: flex;
    flex-direction: column;
}
.pad-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    justify-content: center;
}
.pad-col{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.button{
    width: 60px;
    height: 48px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background-color: black;
}

.content{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.animation-btn-row{
    width: 90%;
    /* border: 1px solid black; */
    margin: 0 auto;
    height: 40%;
    margin-top: 150px;
}

.caroussel-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.caroussel-pic-ctn{
    flex: 3;
    height: 100%;
    /* border: 1px solid brown; */

}

.caroussel-btn-ctn {
    height: 100%;
    /* border: 1px solid green; */
}
.caroussel-btn-ctn button{
    border: none;
    height: 100%;
    padding: 20px;
    font-size: 16pt;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.caroussel-btn-ctn button:hover {
    background-color: gray;
    color: white;
}

.caroussel-pic-ctn p {
    height: 100%;
    width: 25%;
    /* border: 1px solid red; */
    margin: 0 auto;
    position: relative;
    transition: all .5s ease-in-out;
}

.caroussel-pic-ctn .active {
    display: block;
}

.caroussel-pic-ctn .inactive {
    display: none;
}

img.c-pic {
    width: 100%;
    height: 100%;
}